PORT=3001
HOST=0.0.0.0
CORS_ORIGIN=http://localhost:3000

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"

COMPUTED_TIER_CACHE_MS=300000
COMPUTED_TIER_LOCK_MS=10000
